*{
    margin: 0;
    padding: 0;
    
}

#content{
    width: 100%;
    height: 100vh;
    background-color: #53f9aa;
}
header{
    width: 100%;
    text-align: center;
    background-color: #0f003f;
    color:#f9eced
}
.moedas{
    border: none;
}
.moedas:-moz-focusring{
    width: 50px;
    border:none
}
#valorDigitado{
    border:none;
    width: 20%;
    outline: none;
    border-bottom: solid 1px black
}
#datas{
    display: flex;
    width: 20%;
}
#resultado{
    border-bottom: solid 1px black
}

.cotacao{
    display: flex;
    justify-content: space-between;
    padding: 20px 160px;
}