*{
    margin: 0;
    padding: 0;
    font-family:  Poppins, sans-serif;;
}

.cabecalho{
    width: 100%;
    background-color: #0f003f;
    color:#f9eced;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}
.titulo{
    margin-left: 20px;
    align-items: center;
    display: flex;
}
@keyframes girar360 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
#logoCoinQuot{
    margin-left: 10px;
    width: 40px;
    height: 40px;
    animation: girar360 4s linear infinite;
}
.moedas{
    border: none;
    background-color: #dcf7f3;
    width: 20%;
    text-align: center;
    font-size: 30px;
}
#datas{
    display: flex;
    justify-content: center;
    width: 80%;
    margin-bottom: 30px;
}
#valorDigitado{
    border:none;
    width: 20%;
    outline: none;
    background-color: #dcf7f3;
    border-bottom: solid 1px black;
    font-size:70px;
    text-align: center;
}

#resultado{
    border:none;
    width: 20%;
    outline: none;
    border-bottom: solid 1px black;
    font-size:70px;
    text-align: center;
}

.cotacao{
    background-color: black;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 20px 230px;
}
.link{
    text-decoration: none;
    margin-right: 20px;
    color: white;
    font-size: 20px;
}

.link:hover{
    color:#0cd681;
}

.precoMoeda{
    display: flex;
    align-items: center;
    font-size: 20px;
}
.image{
    width: 30px;
    height: 30px;
}
.botao{
    width: 20%;
    font-size: 30px;
    border-radius: 10px;
    background-color: #5fbbc0;
    border: solid 1px black;
}
.funcionalidade{
    width: 100%;
    height: 46.9vh;
    padding: 80px 0px;
    display: flex;
    background-color: #dcf7f3;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.subtitulo{
    position: relative;
    margin-top: -60px;
    margin-bottom: 30px;
}